<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let vent of sevents">
        <div class="card text-center">
            <div class="card-body">
                <h3 class="card-title">{{vent.name}}</h3>
                <p class="card-text">{{vent.id}}</p>
                <a href="" class="btn btn-success">Buy Tickets</a>
            </div>

            <div class="card-footer text-muted">
                {{vent.date | date: 'shortDate' }}
            </div>

        </div>
    </div>
  </div>
